


body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

.container{
    background-image: linear-gradient(to bottom,#220D25, #621E6E  );
    border-radius: 10px;
    margin: auto;
    width: 1000px;
    margin-top: 0.6rem;
}

.header{
    padding: 1rem;
}
.header-title{
    font-size: 2.5rem;
    color: #FDCC23;
   

    font-weight: 600;
    
}

.header-subtitle{
   
    margin-top: 1rem;

    font-weight: 500;
    
    

}
.column{
    padding: 1rem;
    border-radius: 0.6rem;
    background-image: linear-gradient(to bottom, #621E6E , #220D25 );
    margin-top: 2.5rem;
    
  
   
}

.column-title{
    font-size: 2rem;
 
    font-weight: 600;
}

input{
    height: 2.5rem;
    margin-top: 2.5rem;
    width: 70%;
    border-radius: 0.3rem;
    border: 0;
    font-size: 1.2rem;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3rem;
    
    
}

.subcolumn{
    background-color: #2637DB;
    width: 30%;
    border-radius: 0.6rem;
    margin-top: 1.2rem;
    


    

}

.outdoor{
    background-image: linear-gradient(to bottom,#3E5FEF  ,#65B1FB  );
    
    padding: 1.2rem;
    margin: 0.6rem;


}

.image-group{
    text-align: center;
}

.image-title{

    font-size: 2rem;
    font-weight: 600;

}

button{
    width: 55%;
    color: white;
    background-color:#1D0C20;
    border: 0;
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 1.3rem;
   
    

}

.text-style{
    font-weight: 1000;
}

a{
    color: white;
    font-weight: 500;
    
}

@media screen and (max-width: 1020px) {
  
    .flex-container{
        flex-direction: column;
 
    }
    .column{
        width: 100%;
        box-sizing: border-box;
    }
    .subcolumn{
        width: 100%;
    }
    .container{
        width: 100%;
    }

    
}
